@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

.intro-block-content h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.intro-block-content h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}
.intro-block-content h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.intro-block-content p {
    margin-bottom: 1rem;
    line-height: 1.625;
}
.intro-block-content ul {
    list-style-type: disc;
    padding-left: 1.25rem;
    margin-bottom: 1rem;
}
.intro-block-content ol {
    list-style-type: decimal;
    padding-left: 1.25rem;
    margin-bottom: 1rem;
}

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

[x-cloak] {
    display: none !important;
}
