@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../vendor/ralphjsmit/laravel-filament-media-library/resources/css/index.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
